<h1 style="font-size: 20px; font-weight: 600; color: #1a1a1a;">Hello <%= @resource.email %>!</h1>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<div class="text-left">
  <%= link_to 'Change my password', "#{root_url}reset_password?reset_password_token=#{@token}&email=#{@resource.email}", class: 'button' %>
</div>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>
